body{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: url(images/mountain.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    text-align: center;
    font-size: 64px;
}
p{
    color: rgb(0, 0, 0);
    font-size: 20px;
}
.container{
    width: 330px;    
    background-color: rgb(0, 0, 0);
    display: block;
    margin: 120px auto; 
    border-radius: 10px;
    padding-bottom : 50px;
    color: rgb(255, 255, 255);
}

.app-title{
    width: 300px;
    height: 50px;
    border-radius: 10px 10px 0 0;
}

.app-title p{
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    font-size: 20px;
    color: #a3b2e7;
}

.notification{
    background-color: #f8d7da;
    display: none;
}

.notification p{
    color: #244c52;
    font-size: 20px;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.weather-container{
    width: 300px;
    height: 260px;
    background-color: #F4F9FF;
}

.weather-icon{
    width: 300px;
    height: 128px;
}

.weather-icon img{
    display: block;
    margin: 0 auto;
}

.temperature-value{
    width: 300px;
    height:70px;
}

.temperature-value p{
    padding: 0;
    margin: 0;
    color: #293251;
    font-size: 4em;
    text-align: center;
    cursor: pointer;
}

.temperature-value span{
    color: #293251;
    font-size: 0.5em;
}


.temperature-description p{
    padding: 8px;
    margin: 0;
    color: #293251;
    text-align: center;
    font-size: 1.2em;
}


.location p{
    margin: 0;
    padding: 0;
    color: #293251;
    text-align: center;
    font-size: 0.8em;
}